.search_form {

  border-bottom: 1px solid #000;
}

.search_form input {
  outline: none;
  background-image: url(/home/search.svg);
  background-repeat: no-repeat;
  background-position: 4% 50%;

}


@media(min-width: 1280px) {
  .search_form input {
    background-position: 3% 50%;
  }
}